@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

* {
  font-family: 'Teko', sans-serif;
  
  margin: 0;
  padding: 0;
  font-size: 32px;
}

body {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  gap: 10px;
  background-color: rgba(114, 243, 200, 1 );
  background-image: url("./assests/1.png"),url("./assests/2.png"),url("./assests/3.png"),url("./assests/4.png");
  background-repeat: no-repeat,no-repeat,no-repeat,no-repeat;
  background-position: top 200px left,top 200px right, bottom left ,bottom right ;
  background-size: 100px 100px, 100px 100px, 100px 100px, 100px 100px;
}
.header h1{
  font-size: 38px;
}
.completion {
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.completion button {
  cursor: pointer;
  align-self: stretch;
}

.completion {
  display: none;
}

#retry {
  padding: 4px;
  background-color: rgba(114, 243, 200, 0.6);
  border-radius: 6px;
  border-style: dotted;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid black;
  margin: 4px;
}

nav {
  align-self: flex-start;
  order: -1;
}
body p{
  padding: 20px;
}
#home{
  flex-basis: 15%;
  
  display: none;
  cursor: pointer;
  background-color: rgba(9, 9, 9,0);
  border: 2px solid black;
}
.info {
  width: 40%;
}
#inputerror {
  display: none;
  color: red;
  font-size: larger;
  
}

.header {

  display: flex;
  flex-direction: column;
  border-style:dotted;
  gap: 12px;
  width: 100vw;
  box-sizing: border-box;
  text-align: center;
  background-color: lightcoral;
  
}

.header p {
  font-size: larger;
  text-align: center;
}

.start {
  cursor: pointer;
  width: 10%;
  padding: 20px;
  border-radius: 12px;
  background-image: linear-gradient(to left, lightcoral, rgb(240, 106, 106));
  font-size: larger;
  border: 2px solid black;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

#game div {
  border: 2px solid black;
  flex-basis: 20%;
  height: 200px;
  margin: 10px;
  border-radius: 6px;
  background-image: url("./assests/question.png");
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 4px 20px rgba(0, 0, 0,0.8);
  background-color: lightpink;
  display: inline-block;

  cursor: pointer;

  transform-style: preserve-3d;
  transition: 250ms ease-out;
}

#game div img {
  visibility: hidden;
  height: 100%;
  width: 100%;
  transition: 250ms ease-out;
}


#game div.on {
  background-color: lightpink;

  transform: rotateY(180deg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: unset;
}

#game div.on img {
  visibility: visible;
  opacity: 1;
}

#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80vw;

  
  transition: 1s ease-in-out;
}

#numberofcards {
  width: 10%;
  text-align: center;
  font-size:24px;
  height: 30px;
  background-color: pink;
  border: 2px solid black;
  padding: 4px;
  border-radius: 6px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.scores {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Loader */

.lds-roller {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  margin: -4px 0 0 -4px;
  
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Error */
.error{
  display: none;
}

@media screen and (max-width:430px) {
  body {
    justify-content: flex-start;
    height: 100vh;
    background-position: bottom 200px left,bottom 200px right, bottom left ,bottom right ;
  }
  .info{
    width: 80%;
  }
  #game div {
    width: 23%;
    height: 120px;
    background-size: 50px 50px;
  }
  
  .start,#numberofcards{
    width: 40vw;
  }
  #home{
    font-size: medium;
  }
  #game {
    width: 100vw;
  }
}